.navigation {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(59 130 246);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(255 255 255);
  ul {
    li {
      list-style-type: none;

      a {
        color: rgb(255 255 255);
        text-decoration: none;
      }
    }
  }
}
